In [3]:
import pandas as pd
import numpy as np
import random

In [9]:
years = [2018, 2019]


filename = "JC-201901-citibike-tripdata.csv"
p = 1  # 1% of the lines
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
df = pd.read_csv(
         filename,
         #header=0, 
         #skiprows=lambda i: i>0 and random.random() > p
)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [10]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
19671,853,2019-01-26 06:40:17.3320,2019-01-26 06:54:30.8880,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26293,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.6400,2019-01-27 06:51:57.1460,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26291,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.5460,2019-01-27 21:25:01.6170,3694,Jackson Square,40.71113,-74.0789,3677,Glenwood Ave,40.727551,-74.071061,26188,Customer,1998,2
19674,960,2019-01-29 06:15:26.5880,2019-01-29 06:31:26.7300,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26196,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.6050,2019-01-30 06:48:33.2760,3694,Jackson Square,40.71113,-74.0789,3183,Exchange Place,40.716247,-74.033459,26242,Subscriber,1977,1